.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(152, 190, 15, 0.75),
      rgba(152, 190, 15, 0.65)
    ),
    url('../../assets/images/reserve-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  z-index: -5;
  color: var(--white);
}

.title {
  margin-top: 60px;
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
}
