:root {
  --orange: #ffb701;
}

.page-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--orange);
  position: relative;
}

.menu-icon-container {
  height: 3rem;
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 40%;
  padding: 0.4rem 0.9rem;
}

.splash-background-container {
  position: relative;
  max-width: 100%;
  border-radius: 50%;
}

.top-bar-container {
  display: flex;
  margin: 0.25rem;
  align-items: center;
  justify-content: space-between;
}

.hotel-background {
  width: 100%;
  border-radius: 50%;
  border: 0.2rem solid #e0a101;
}

.app-name {
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
}

.logout-menu {
  /* min-width: 100vw;
  min-height: 100vh;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%; */
  display: flex;
  flex-direction: column;
  /* background-image: url("../../assets/images/hotel-menu.jpg"); */
}
