:root {
  --orange: #ffb701;
}

.page-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--orange);
  position: relative;
}

@media (min-width: 1300px) {
  .app-name {
    font-size: 155px;
  }
}

.logout-menu {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
