:root {
  --orange: #ffb701;
}

.page-container {
  top: 0;
  left: 0;
  z-index: -5;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(255, 183, 1, 0.4), rgba(255, 183, 1, 0.65)), url('../../assets/images/hotel-2.jpg');
}

.logout-menu {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
