:root {
  --orange: #ffb701;
}

.page-container {
  top: 0;
  left: 0;
  z-index: -5;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  background-color: var(--orange);
}

.logout-menu {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
