.slider-container {
  width: 85vw;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 1rem;
}

.slider {
  display: flex;
  gap: 1.2rem;
}

.right_arrow,
.left_arrow {
  position: absolute;
  cursor: pointer;
  top: 40%;
  font-size: 1.5rem;
  color: var(--white);
}

.right_arrow {
  padding: 0.8rem 3rem 0.8rem 1.5rem;
  background-color: var(--green);
  border-radius: 40% 0 0 40%;
  right: 0;
}

.left_arrow {
  padding: 0.8rem 1.5rem 0.8rem 3rem;
  background-color: var(--gray-light);
  border-radius: 0 40% 40% 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .right_arrow {
    padding: 0.8rem 1rem 0.8rem 1rem;
  }

  .left_arrow {
    padding: 0.8rem 1rem 0.8rem 1rem;
  }
}
