.top-bar-container {
  display: flex;
  margin: 0.25rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.menu-icon-container {
  height: 3rem;
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 40%;
  padding: 0.4rem 0.9rem;
}
