@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #98be0f;
  --green-dark: #87a715;
  --yellow: #fbbc05;
  --gray-light: #a4a4a4;
  --gray-dark: #959595;
  --bg-gray: #d3d3d3;
  --white: #fff;
  --black: #000;
}

::selection {
  background-color: var(--green);
}

body {
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'ReflexBlack';
  src:
    local('ReflexBlack'),
    url('./assets/fonts/Reflex_Black.ttf') format('truetype');
  font-weight: bold;
}
