.select {
  width: 250px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  background-image: url('../../assets/images/down-arrow.svg');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 8px;
  background-size: 20px;
  border: 1px solid var(--white);
  border-radius: 20px;
  padding: 7px 25px;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}

.select * {
  background-color: rgba(152, 190, 15, 0.75);
}
